
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/layout.cshtml";
}
<!--start-image-slider---->
<div class="image-slider">
    <!-- Slideshow 1 -->
    <ul class="rslides" id="slider1">
        <li><img src="~/images/hãy trao cho anh.jpg" alt=""></li>
        <li><img src="" alt=""></li>
        <li><img src="" alt=""></li>
    </ul>
    <!-- Slideshow 2 -->
</div>
<div class="content">
    <div class="products-box">
        <div class="products">
            <h5><span>Danh Sách</span> Bài Hát Nổi Bật</h5>
            <div class="section group">
                <div class="grid_1_of_5 images_1_of_5">
                    <img src="~/images/lactroi.jpg">
                    <h3>Lạc Trôi </h3>
                    <p>Tác Giả: Sơn Tùng MTP</p>

                    <div class="button"><span><a href="singlepage.html">Đọc Thêm</a></span></div>
                </div>
                <div class="grid_1_of_5 images_1_of_5">
                    <img src="~/images/hãy trao cho anh.jpg">
                    <h3> Hãy Trao Cho Anh </h3>
                    <p>Tác Giả: Sơn Tùng MTP</p>
                    <div class="button"><span><a href="singlepage.html">Đọc Thêm</a></span></div>
                </div>
                <div class="grid_1_of_5 images_1_of_5">
                    <img src="~/images/83.jpeg">
                    <h3>Muộn Rùi Mà Sao Con </h3>
                    <p>Tác Giả: Sơn Tùng MTPy</p>
                    <div class="button"><span><a href="singlepage.html">Đọc Thêm</a></span></div>
                </div>
                <div class="grid_1_of_5 images_1_of_5">
                    <img src="~/images/chungtakhongthuoc ve nhau.jpg">
                    <h3>Chúng Ta không Thuộc Về Nhau </h3>
                    <p>Tác Giả: Sơn Tùng MTP</p>
                    <div class="button"><span><a href="singlepage.html">Đọc Thêm</a></span></div>
                </div>
                <div class="grid_1_of_5 images_1_of_5">
                    <img src="~/images/em-cua-ngay-hom-qua-son-tung-m-tp-4.jpg">
                    <h3>Em của Ngày Hum Qua</h3>
                    <p>Tác Giả: Sơn Tùng MTP</p>
                    <div class="button"><span><a href="singlepage.html">Đọc Thêm</a></span></div>
                </div>
            </div>
            <a class="button1" href="#">Xem Tất cả</a>
            <div class="clear"> </div>
        </div>
        <div class="products products-secondbox">
            <h5><span>Danh Sách</span> Bài Hát</h5>
            <div class="section group">
                <div class="grid_1_of_5 images_1_of_5">
                    <img src="~/images/chimse&dautay.jpg">
                    <h3>Chim Sẻ & Dâu Tây </h3>
                    <p>Tác Giả: Wowy & Dế Choắt</p>
                    <div class="button"><span><a href="singlepage.html">Đọc Thêm</a></span></div>
                </div>
                <div class="grid_1_of_5 images_1_of_5">
                    <img src="~/images/danchsxom.jpg">
                    <h3>dân chs xóm </h3>
                    <p>Tác Giả: MCK-Team Karik</p>
                    <div class="button"><span><a href="singlepage.html">Đọc Thêm</a></span></div>
                </div>
                <div class="grid_1_of_5 images_1_of_5">
                    <img src="~/images/giauvibansangvivk.jpg">
                    <h3>Giàu vì Bạn Sang Vì Vợ </h3>
                    <p>Tác Giả: MCK</p>
                    <div class="button"><span><a href="singlepage.html">Đọc Thêm</a></span></div>
                </div>
                <div class="grid_1_of_5 images_1_of_5">
                    <img src="~/images/thattinh.jpg">
                    <h3>Thất Tình</h3>
                    <p>Tác Giả: Đàm Vĩnh Hưng</p>
                    <div class="button"><span><a href="singlepage.html">Đọc Thêm</a></span></div>
                </div>
                <div class="grid_1_of_5 images_1_of_5">
                    <img src="~/images/laudaitinhai.jpg">
                    <h3>Lâu Đài Tình Ái</h3>
                    <p>Tác Giả: Đàm Vĩnh Hưng</p>
                    <div class="button"><span><a href="singlepage.html">Đọc Thêm</a></span></div>
                </div>
                <a class="button1" href="#">Xem Tất cả</a>
                <div class="clear"> </div>
            </div>
        </div>
    </div>
</div>

